@page
@model PersonalBlog.Pages.IndexModel

<h1>Personal Blog</h1>
<p>Latest Articles</p>

<ul>
    @foreach (var article in Model.Articles)
    {
        <li>
            <a href="/Article?id=@article.Id">@article.Title</a>
            <br />
            <small>Published: @article.PublishDate.ToShortDateString()</small>
        </li>
    }
</ul>
